@model MyTradeMTG.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoCalculateRewardBusiness</title>
</head>
<body>
    <div> 
        <h1>Auto Calculate Reward Business</h1>
    </div>
</body>
</html>
