@model MyTradeMTG.Models.Master

@{
    ViewBag.Title = "QRCodeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("QRCodeList", "Master", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="card">
                    <div class="card-header">
                        <div class="row" style="width:100%">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <h4>QR Code List</h4>
                                    <span class="text-danger">
                                        @TempData["Active"]
                                    </span>
                                </div>
                                    <span>
                                        <a href="/master/QRCodeMaster" class="btn btn-success btn-sm">Add New</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="widget-content widget-content-area br-6">
                            <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>UPI Id</th>
                                        <th>QR Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.QRCodeList != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.QRCodeList)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.UPIId</td>
                                                    <td><img src="@Item.QRCodeFile" height="80" /> </td>
                                                    @if (Item.IsActive1 == "True")
                                                    {
                                                        <td>
                                                            <a href="/Master/InActiveQRCodeMaster?id=@Item.PK_QRCodeId&&IsActive=@Item.IsActive1" class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to Inactive this qr file?');" name="btnDelete">InActive</a>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <a href="/Master/ActiveQRCodeMaster?id=@Item.PK_QRCodeId&&IsActive=@Item.IsActive1" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to active this qr file?');" name="btnDelete">Active</a>
                                                        </td>
                                                    }
                                                </tr>

                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script src="~/MyTradeWebsite/assets/js/jquery.min.js"></script>

<script>

    function validate() {
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#MemberTransferCharge').val() == '') {
            $("#MemberTransferCharge").addClass('errortext');
            $('#MemberTransferCharge').focus();
            return false;
        }
        if ($('#BrokerTransferCharge').val() == '') {
            $("#BrokerTransferCharge").addClass('errortext');
            $('#BrokerTransferCharge').focus();
            return false;
        }
    }



    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

</script>

<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
        color: black;
    }
</style>