@model MyTrade.Models.Tree
@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container">
    <div class="row layout-top-spacing">
        <div class="col-lg-12 col-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Top-Up</h4>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- HTML5 Export Buttons table start -->
                            <div class="card">

                                <div class="card-block">
                                    <iframe id="frm" src="~/LevelTree.aspx" style="height:500px;border: 0px solid;width:100%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

