
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
     <link href="/UserPanel/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/UserPanel/vendor/chartist/css/chartist.min.css">
    <link href="/UserPanel/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link href="/UserPanel/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">*@
    <link href="https://kripton.dexignzone.com/xhtml/css/style.css" rel="stylesheet">
   
    <link href="/UserPanel/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/UserPanel/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_html5.css">
    <link rel="stylesheet" href="https://kripton.dexignzone.com/xhtml/vendor/chartist/css/chartist.min.css">
   

</head>

<body>

    <div id="main-wrapper">

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">




                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xl-6 col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Label placement</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="label-placement-chart" class="ct-chart ct-golden-section chartlist-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--********************************** -->

    </div>
    <!-- Required vendors -->
    <script src="/UserPanel/vendor/global/global.min.js"></script>
    <script src="/UserPanel/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/UserPanel/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/UserPanel/js/plugins-init/sweetalert.init.js"></script>
    @*<script src="/UserPanel/js/custom.min.js"></script>*@
    <script src="/UserPanel/vendor/chart.js/Chart.bundle.min.js"></script>

    <!-- Chart piety plugin files -->
    <script src="/UserPanel/vendor/peity/jquery.peity.min.js"></script>

    <!-- Apex Chart -->
    <script src="/UserPanel/vendor/apexchart/apexchart.js"></script>
    <script src="/UserPanel/vendor/owl-carousel/owl.carousel.js"></script>
    <!-- Datatable -->
    <script src="/UserPanel/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <!-- NOTE TO ~/Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="~/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/jszip.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/buttons.print.min.js"></script>
    <!-- Dashboard 2 -->
    @*<script src="/UserPanel/js/dashboard/dashboard-4.js"></script>*@
    <script src="/UserPanel/js/deznav-init.js"></script>
    <!-- Required vendors -->
   
    <!-- Chart Chartist plugin files -->
    <script src="https://kripton.dexignzone.com/xhtml/vendor/chartist/js/chartist.min.js"></script>
    <script src="https://kripton.dexignzone.com/xhtml/vendor/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    <script src="https://kripton.dexignzone.com/xhtml/js/plugins-init/chartist-init.js"></script>
    <script src="https://kripton.dexignzone.com/xhtml/js/custom.min.js"></script>


   
</body>
</html>
